Repository davidemarcoli/social-media-app, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, frontend, backend, github-config, maven-config, docker-config

Fix deprecated JWT method
  backend/src/main/java/com/social/dailylink/security/jwt/JwtUtils.java
Labels: repo, backend

Start with post like logic
  backend/src/main/java/com/social/dailylink/controller/PostController.java
  backend/src/main/java/com/social/dailylink/security/services/UserDetailsImpl.java
  backend/src/main/java/com/social/dailylink/service/PostService.java
  backend/src/main/java/com/social/dailylink/service/PostServiceImpl.java
  frontend/src/app/pages/post/view-post/view-post.component.ts
  frontend/src/app/pages/user/user-profile/user-profile.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
  frontend/src/app/services/post/post.service.ts
  frontend/src/app/utils/date.util.ts
  frontend/tsconfig.json
Labels: repo, frontend, backend

Start with frontend for post likes
  frontend/src/app/pages/user/user-profile/user-profile.component.css
  frontend/src/app/pages/user/user-profile/user-profile.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
Labels: repo, frontend

Fix Mapper not mapping likes
  backend/src/main/java/com/social/dailylink/controller/PostController.java
  backend/src/main/java/com/social/dailylink/service/PostServiceImpl.java
  backend/src/main/resources/application-dev.properties
Labels: repo, backend

Add better default profile pictures Add like icon to user feed list to let users like posts
  backend/src/main/java/com/social/dailylink/controller/AuthController.java
  backend/src/main/java/com/social/dailylink/exception/handlers/RestResponseEntityHandler.java
  backend/src/main/java/com/social/dailylink/global/GlobalStrings.java
  backend/src/main/java/com/social/dailylink/global/ProfilePictureType.java
  backend/src/main/java/com/social/dailylink/model/Post.java
  backend/src/main/java/com/social/dailylink/model/User.java
  backend/src/main/resources/data.sql
  frontend/src/app/pages/user/user-profile/user-profile.component.css
  frontend/src/app/pages/user/user-profile/user-profile.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
Labels: repo, frontend, backend

Show profile picture.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/services/user/user.service.ts
Labels: repo, frontend

Set head title.
  frontend/src/index.html
Labels: repo, frontend

Set Lexend Deca as main font.
  frontend/src/index.html
  frontend/src/styles.css
Labels: repo, frontend

Removed commented code.
  frontend/src/app/services/auth-guard/auth-guard.service.ts
Labels: repo, frontend

Remove console.logs form the onLikeClick Refactor Like icon
  frontend/src/app/pages/user/user-profile/user-profile.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
Labels: repo, frontend

Generated components
  frontend/src/app/app.module.ts
  frontend/src/app/components/post-list/post-list.component.css
  frontend/src/app/components/post-list/post-list.component.html
  frontend/src/app/components/post-list/post-list.component.spec.ts
  frontend/src/app/components/post-list/post-list.component.ts
Labels: repo, frontend

Remove commented code
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
Labels: repo, frontend

Fixed registration error with @davidemarcoli
  backend/src/main/java/com/social/dailylink/controller/AuthController.java
  frontend/src/app/services/auth/auth.service.ts
Labels: repo, frontend, backend

Start with create post
  backend/src/main/java/com/social/dailylink/controller/PostController.java
  backend/src/main/java/com/social/dailylink/model/dto/CreatePostDTO.java
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/pages/post/create-post/create-post.component.html
  frontend/src/app/pages/post/create-post/create-post.component.ts
  frontend/src/app/pages/post/edit-post/edit-post.component.css
  frontend/src/app/pages/post/edit-post/edit-post.component.html
  frontend/src/app/pages/post/edit-post/edit-post.component.spec.ts
  frontend/src/app/pages/post/edit-post/edit-post.component.ts
  frontend/src/app/pages/post/view-post/view-post.component.html
  frontend/src/app/pages/post/view-post/view-post.component.ts
  frontend/src/app/services/category/category.service.spec.ts
  frontend/src/app/services/category/category.service.ts
  frontend/src/app/services/post/post.service.ts
Labels: repo, frontend, backend

Start with follow user
  backend/src/main/java/com/social/dailylink/controller/PostController.java
  backend/src/main/java/com/social/dailylink/controller/UserController.java
  backend/src/main/java/com/social/dailylink/model/User.java
  backend/src/main/java/com/social/dailylink/model/dto/UserDTO.java
  backend/src/main/java/com/social/dailylink/service/PostServiceImpl.java
  backend/src/main/java/com/social/dailylink/service/UserService.java
  backend/src/main/java/com/social/dailylink/service/UserServiceImpl.java
  frontend/src/app/models/user.ts
  frontend/src/app/pages/post/edit-post/edit-post.component.ts
  frontend/src/app/pages/post/view-post/view-post.component.ts
  frontend/src/app/pages/user/user-profile/user-profile.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
  frontend/src/app/services/user/user.service.ts
Labels: repo, frontend, backend

Added template information for feed view list
  frontend/src/app/components/post-list/post-list.component.css
  frontend/src/app/components/post-list/post-list.component.html
  frontend/src/app/pages/post/list-posts/list-posts.component.css
  frontend/src/app/pages/post/list-posts/list-posts.component.html
Labels: repo, frontend

first version of post component.
  frontend/src/app/app.module.ts
  frontend/src/app/components/post-card/post-card.component.css
  frontend/src/app/components/post-card/post-card.component.html
  frontend/src/app/components/post-card/post-card.component.spec.ts
  frontend/src/app/components/post-card/post-card.component.ts
  frontend/src/app/components/post-list/post-list.component.css
  frontend/src/app/components/post-list/post-list.component.html
  frontend/src/app/components/post-list/post-list.component.ts
Labels: repo, frontend

removed unnecessary flex definitions.
  frontend/src/app/components/post-card/post-card.component.css
  frontend/src/app/components/post-list/post-list.component.html
  frontend/src/app/pages/post/list-posts/list-posts.component.css
  frontend/src/app/pages/post/list-posts/list-posts.component.html
Labels: repo, frontend

Add ability to follow another user
  backend/src/main/java/com/social/dailylink/model/User.java
  frontend/src/app/pages/user/user-profile/user-profile.component.html
Labels: repo, frontend, backend

Refactor Follow-Endpoint
  backend/src/main/java/com/social/dailylink/controller/UserController.java
Labels: repo, backend

Fix Post card header styling
  frontend/src/app/components/post-card/post-card.component.css
Labels: repo, frontend

Merge multiple paddings to one
  frontend/src/app/components/post-card/post-card.component.css
Labels: repo, frontend

Implement Postgres GIN Index as a search
  backend/src/main/java/com/social/dailylink/controller/PostController.java
  backend/src/main/java/com/social/dailylink/repository/PostRepository.java
  backend/src/main/java/com/social/dailylink/service/PostService.java
  backend/src/main/java/com/social/dailylink/service/PostServiceImpl.java
  backend/src/main/resources/application-dev.properties
  frontend/src/app/pages/post/list-posts/list-posts.component.html
  frontend/src/app/pages/post/list-posts/list-posts.component.ts
  frontend/src/app/services/post/post.service.ts
Labels: repo, frontend, backend

continued create post
  backend/src/main/java/com/social/dailylink/controller/PostController.java
  frontend/src/app/pages/post/create-post/create-post.component.ts
  frontend/src/app/pages/post/list-posts/list-posts.component.ts
Labels: repo, frontend, backend

Filled post-card component.
  frontend/src/app/app.module.ts
  frontend/src/app/components/components-here
  frontend/src/app/components/post-card/post-card.component.css
  frontend/src/app/components/post-card/post-card.component.html
  frontend/src/app/components/post-card/post-card.component.ts
  frontend/src/app/components/post-list/post-list.component.html
  frontend/src/app/components/post-list/post-list.component.ts
Labels: repo, frontend

Home feed layout correct.
  frontend/src/app/components/post-list/post-list.component.css
  frontend/src/app/components/post-list/post-list.component.html
  frontend/src/app/pages/post/list-posts/list-posts.component.css
  frontend/src/app/pages/post/list-posts/list-posts.component.html
Labels: repo, frontend

Remove commented code
  frontend/src/app/components/post-list/post-list.component.css
  frontend/src/app/components/post-list/post-list.component.html
  frontend/src/app/components/post-list/post-list.component.ts
  frontend/src/app/pages/user/user-profile/user-profile.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
Labels: repo, frontend

Finish Create Post (Images aren't displayed yet)
  backend/src/main/java/com/social/dailylink/model/Post.java
Labels: repo, backend

Show images
  frontend/src/app/components/post-card/post-card.component.html
  frontend/src/app/components/post-card/post-card.component.ts
  frontend/src/app/models/post.ts
  frontend/src/app/pages/post/view-post/view-post.component.ts
Labels: repo, frontend

Fix content not showing correctly
  frontend/src/app/components/post-card/post-card.component.css
  frontend/src/app/components/post-card/post-card.component.html
  frontend/src/app/components/post-card/post-card.component.ts
Labels: repo, frontend

Fix user not able to like stuff
  backend/src/main/java/com/social/dailylink/model/Post.java
  backend/src/main/java/com/social/dailylink/model/User.java
  frontend/src/app/pages/user/user-profile/user-profile.component.html
Labels: repo, frontend, backend

Fix reading length of undefined error
  frontend/src/app/pages/post/list-posts/list-posts.component.html
Labels: repo, frontend

Add card component.
  frontend/src/app/app.module.ts
  frontend/src/app/components/card/card.component.css
  frontend/src/app/components/card/card.component.html
  frontend/src/app/components/card/card.component.spec.ts
  frontend/src/app/components/card/card.component.ts
Labels: repo, frontend

Style all header tags.
  frontend/src/styles.css
Labels: repo, frontend

Wrap root in container class.
  frontend/src/index.html
Labels: repo, frontend

Fix conflicts.
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/post-card/post-card.component.ts
  frontend/src/app/pages/post/create-post/create-post.component.ts
Labels: repo, frontend

Fix colors for different text
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/components/post-card/post-card.component.html
  frontend/src/app/pages/post/create-post/create-post.component.html
  frontend/src/app/pages/post/create-post/create-post.component.ts
Labels: repo, frontend

Fix signup styling Add more padding
  frontend/src/app/app.component.html
  frontend/src/app/components/post-card/post-card.component.html
  frontend/src/app/pages/auth/signup/signup.component.html
  frontend/src/app/pages/post/list-posts/list-posts.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.html
Labels: repo, frontend

Footer always on bottom
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/components/post-card/post-card.component.css
Labels: repo, frontend

Fix footer covering like button
  frontend/src/app/pages/user/user-profile/user-profile.component.html
Labels: repo, frontend

.github/labeler.yml:

repo:
  - '*' # Any file in the rep
  - '!pom.xml' # Except pom.xml
  - '!*.iml' # Except .iml files
  - 'scripts/**' # Any file in the scripts directory

test:
  - any: [ 'backend/src/test/**/*', "frontend/src/**/*.spec.ts" ]

frontend:
  - any: [ 'frontend/**/*' ]

backend:
  - any: [ 'backend/**/*' ]

github-config:
  - any: [ '.github/**/*' ]

maven-config:
  - any: [ '**/pom.xml' ]

docker-config:
  - any: [ 'docker-compose.yml', 'Dockerfile', 'scripts/buildDockerfile.sh' ]
