Repository davidemarcoli/social-media-app, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, frontend, backend, github-config, maven-config, docker-config

.github/labeler.yml:

repo:
  - '*' # Any file in the rep
  - '!pom.xml' # Except pom.xml
  - '!*.iml' # Except .iml files
  - 'scripts/**' # Any file in the scripts directory

test:
  - any: [ 'backend/src/test/**/*', "frontend/src/**/*.spec.ts" ]

frontend:
  - any: [ 'frontend/**/*' ]

backend:
  - any: [ 'backend/**/*' ]

github-config:
  - any: [ '.github/**/*' ]

maven-config:
  - any: [ '**/pom.xml' ]

docker-config:
  - any: [ 'docker-compose.yml', 'Dockerfile', 'scripts/buildDockerfile.sh' ]

Hooked up post endpoints.
  backend/src/main/java/com/social/dailylink/controller/CategoryController.java
  backend/src/main/java/com/social/dailylink/controller/PostController.java
  backend/src/main/java/com/social/dailylink/service/PostServiceImpl.java
Labels: repo, backend

Start with file saving logic
  backend/src/main/java/com/social/dailylink/BackendApplication.java
  backend/src/main/java/com/social/dailylink/FeatureTestController.java
  backend/src/main/java/com/social/dailylink/controller/FileController.java
  backend/src/main/java/com/social/dailylink/model/File.java
  backend/src/main/java/com/social/dailylink/repository/FileRepository.java
  backend/src/main/java/com/social/dailylink/service/FileService.java
  backend/src/main/java/com/social/dailylink/service/FileServiceImpl.java
  backend/src/main/java/com/social/dailylink/utils/FileUtils.java
  backend/src/main/resources/application-dev.properties
  uploads/filename.txt
Labels: repo, backend

Change Post Model Refactor Login/Register Code Remove Category
  backend/src/main/java/com/social/dailylink/BackendApplication.java
  backend/src/main/java/com/social/dailylink/controller/AuthController.java
  backend/src/main/java/com/social/dailylink/controller/CategoryController.java
  backend/src/main/java/com/social/dailylink/controller/PostController.java
  backend/src/main/java/com/social/dailylink/generic/AbstractEntity.java
  backend/src/main/java/com/social/dailylink/generic/AbstractEntityServiceImpl.java
  backend/src/main/java/com/social/dailylink/global/GlobalStrings.java
  backend/src/main/java/com/social/dailylink/model/Category.java
  backend/src/main/java/com/social/dailylink/model/Post.java
  backend/src/main/java/com/social/dailylink/model/User.java
  backend/src/main/java/com/social/dailylink/model/dto/AuthorityDTO.java
  backend/src/main/java/com/social/dailylink/model/dto/CategoryDTO.java
  backend/src/main/java/com/social/dailylink/model/dto/CategoryMapper.java
  backend/src/main/java/com/social/dailylink/model/dto/PostDTO.java
  backend/src/main/java/com/social/dailylink/model/dto/RoleDTO.java
  backend/src/main/java/com/social/dailylink/model/dto/UserDTO.java
  backend/src/main/java/com/social/dailylink/payload/response/JwtResponse.java
  backend/src/main/java/com/social/dailylink/payload/response/MessageResponse.java
  backend/src/main/java/com/social/dailylink/repository/AuthorityRepository.java
  backend/src/main/java/com/social/dailylink/repository/CategoryRepository.java
  backend/src/main/java/com/social/dailylink/repository/UserRepository.java
  backend/src/main/java/com/social/dailylink/security/services/UserDetailsImpl.java
  backend/src/main/java/com/social/dailylink/service/CategoryService.java
  backend/src/main/java/com/social/dailylink/service/CategoryServiceImpl.java
  frontend/frontend.iml
Labels: repo, frontend, backend

Change Post Model Refactor Login/Register Code Remove Category
  backend/src/main/java/com/social/dailylink/BackendApplication.java
  backend/src/main/java/com/social/dailylink/controller/AuthController.java
  backend/src/main/java/com/social/dailylink/controller/CategoryController.java
  backend/src/main/java/com/social/dailylink/controller/PostController.java
  backend/src/main/java/com/social/dailylink/generic/AbstractEntity.java
  backend/src/main/java/com/social/dailylink/generic/AbstractEntityServiceImpl.java
  backend/src/main/java/com/social/dailylink/global/GlobalStrings.java
  backend/src/main/java/com/social/dailylink/model/Category.java
  backend/src/main/java/com/social/dailylink/model/Post.java
  backend/src/main/java/com/social/dailylink/model/User.java
  backend/src/main/java/com/social/dailylink/model/dto/AuthorityDTO.java
  backend/src/main/java/com/social/dailylink/model/dto/CategoryDTO.java
  backend/src/main/java/com/social/dailylink/model/dto/CategoryMapper.java
  backend/src/main/java/com/social/dailylink/model/dto/PostDTO.java
  backend/src/main/java/com/social/dailylink/model/dto/RoleDTO.java
  backend/src/main/java/com/social/dailylink/model/dto/UserDTO.java
  backend/src/main/java/com/social/dailylink/payload/response/JwtResponse.java
  backend/src/main/java/com/social/dailylink/payload/response/MessageResponse.java
  backend/src/main/java/com/social/dailylink/repository/AuthorityRepository.java
  backend/src/main/java/com/social/dailylink/repository/CategoryRepository.java
  backend/src/main/java/com/social/dailylink/repository/UserRepository.java
  backend/src/main/java/com/social/dailylink/security/services/UserDetailsImpl.java
  backend/src/main/java/com/social/dailylink/service/CategoryService.java
  backend/src/main/java/com/social/dailylink/service/CategoryServiceImpl.java
  frontend/frontend.iml
Labels: repo, frontend, backend

Comments implemented.
  backend/src/main/java/com/social/dailylink/service/PostServiceImpl.java
Labels: repo, backend

Improve Profile Navigation Set correct Website Title
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
  frontend/src/index.html
Labels: repo, frontend

Add Navigation to profile when clicking on the username in the top right
  frontend/src/app/app.component.html
Labels: repo, frontend

Add posts to the users profile
  backend/src/main/java/com/social/dailylink/controller/PostController.java
  backend/src/main/java/com/social/dailylink/repository/PostRepository.java
  backend/src/main/java/com/social/dailylink/service/PostService.java
  backend/src/main/java/com/social/dailylink/service/PostServiceImpl.java
  frontend/src/app/pages/user/user-profile/user-profile.component.css
  frontend/src/app/pages/user/user-profile/user-profile.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
Labels: repo, frontend, backend

Fix User Profile Styling Add crying cat emoji for when there are no posts on a profile
  frontend/src/app/pages/user/user-profile/user-profile.component.css
  frontend/src/app/pages/user/user-profile/user-profile.component.html
Labels: repo, frontend

Fix Pipeline Errors Add Custom @CreatedBy Configuration Refactor Usages of Abstract Classes
  backend/src/main/java/com/social/dailylink/JpaEnversConfiguration.java
  backend/src/main/java/com/social/dailylink/SpringSecurityAuditorAware.java
  backend/src/main/java/com/social/dailylink/model/Post.java
  backend/src/main/java/com/social/dailylink/repository/PostRepository.java
  backend/src/main/java/com/social/dailylink/service/PostServiceImpl.java
Labels: repo, backend

Improve #PreAuthorize in the Post Controller Remove wrong annotations on Post Service Interface
  backend/src/main/java/com/social/dailylink/controller/PostController.java
  backend/src/main/java/com/social/dailylink/service/PostService.java
Labels: repo, backend

Remove redundant import.
  backend/src/main/java/com/social/dailylink/repository/PostRepository.java
Labels: repo, backend

Fix wrong PreAuthorize
  backend/src/main/java/com/social/dailylink/controller/PostController.java
Labels: repo, backend

Add likes to the entities
  backend/src/main/java/com/social/dailylink/model/Post.java
  backend/src/main/java/com/social/dailylink/model/User.java
  backend/src/main/java/com/social/dailylink/model/dto/PostDTO.java
Labels: repo, backend

Add likes to the frontend models
  frontend/src/app/models/post.ts
  frontend/src/app/models/user.ts
Labels: repo, frontend

Add schema.sql
  backend/src/main/java/com/social/dailylink/controller/PostController.java
  backend/src/main/java/com/social/dailylink/model/Post.java
  backend/src/main/java/com/social/dailylink/model/User.java
  backend/src/main/java/com/social/dailylink/model/dto/UserDTO.java
  backend/src/main/java/com/social/dailylink/service/PostService.java
  backend/src/main/java/com/social/dailylink/service/PostServiceImpl.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/schema.sql
Labels: repo, backend

Fix constructor calls
  frontend/src/app/models/post.ts
  frontend/src/app/pages/post/create-post/create-post.component.ts
  frontend/src/app/pages/post/edit-post/edit-post.component.ts
Labels: repo, frontend

Add tailwind.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/pages/auth/login/login.component.html
  frontend/src/styles.css
  frontend/tailwind.config.js
Labels: repo, frontend

Fix login Remove category stuff
  backend/src/main/java/com/social/dailylink/controller/AuthController.java
  backend/src/main/java/com/social/dailylink/payload/response/JwtResponse.java
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/components/category-pill/category-pill.component.css
  frontend/src/app/components/category-pill/category-pill.component.html
  frontend/src/app/components/category-pill/category-pill.component.spec.ts
  frontend/src/app/components/category-pill/category-pill.component.ts
  frontend/src/app/components/components-here
  frontend/src/app/pages/category/create-category/create-category.component.css
  frontend/src/app/pages/category/create-category/create-category.component.html
  frontend/src/app/pages/category/create-category/create-category.component.spec.ts
  frontend/src/app/pages/category/create-category/create-category.component.ts
  frontend/src/app/pages/category/delete-category/delete-category.component.css
  frontend/src/app/pages/category/delete-category/delete-category.component.html
  frontend/src/app/pages/category/delete-category/delete-category.component.spec.ts
  frontend/src/app/pages/category/delete-category/delete-category.component.ts
  frontend/src/app/pages/category/update-category/update-category.component.css
  frontend/src/app/pages/category/update-category/update-category.component.html
  frontend/src/app/pages/category/update-category/update-category.component.spec.ts
  frontend/src/app/pages/category/update-category/update-category.component.ts
  frontend/src/app/pages/post/list-posts/list-posts.component.html
  frontend/src/app/services/auth/auth.service.ts
Labels: repo, frontend, backend

Remove category from list-posts component
  frontend/src/app/pages/post/list-posts/list-posts.component.ts
Labels: repo, frontend

Remove material, remove alerts, remove categories.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/pages/auth/login/login.component.html
  frontend/src/app/pages/auth/login/login.component.ts
  frontend/src/app/pages/auth/signup/signup.component.html
  frontend/src/app/pages/auth/signup/signup.component.ts
  frontend/src/app/pages/category/create-category/create-category.component.css
  frontend/src/app/pages/category/create-category/create-category.component.html
  frontend/src/app/pages/category/create-category/create-category.component.spec.ts
  frontend/src/app/pages/category/create-category/create-category.component.ts
  frontend/src/app/pages/category/delete-category/delete-category.component.css
  frontend/src/app/pages/category/delete-category/delete-category.component.html
  frontend/src/app/pages/category/delete-category/delete-category.component.spec.ts
  frontend/src/app/pages/category/delete-category/delete-category.component.ts
  frontend/src/app/pages/category/update-category/update-category.component.css
  frontend/src/app/pages/category/update-category/update-category.component.html
  frontend/src/app/pages/category/update-category/update-category.component.spec.ts
  frontend/src/app/pages/category/update-category/update-category.component.ts
  frontend/src/app/pages/post/create-post/create-post.component.html
  frontend/src/app/pages/post/create-post/create-post.component.ts
  frontend/src/app/pages/post/edit-post/edit-post.component.html
  frontend/src/app/pages/post/edit-post/edit-post.component.ts
  frontend/src/app/pages/post/list-posts/list-posts.component.html
  frontend/src/app/pages/post/view-post/view-post.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
  frontend/src/app/services/alert/alert.service.spec.ts
  frontend/src/app/services/alert/alert.service.ts
  frontend/src/styles.css
Labels: repo, frontend

Remove remaining material dependencies.
  frontend/angular.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/pages/auth/login/login.component.html
  frontend/src/app/pages/post/edit-post/edit-post.component.html
  frontend/src/app/pages/post/list-posts/list-posts.component.html
Labels: repo, frontend

Optimize imports and overriden methods from PostServiceImpl
  backend/src/main/java/com/social/dailylink/service/PostServiceImpl.java
Labels: repo, backend

Fix service variable in PostController
  backend/src/main/java/com/social/dailylink/controller/PostController.java
Labels: repo, backend

Page layout including navbar.
  frontend/src/app/app.component.html
  frontend/src/index.html
  frontend/src/styles.css
Labels: repo, frontend

Fix roles not showing up as GrantedAuthorities Fix User Profile UI
  backend/src/main/java/com/social/dailylink/controller/AuthController.java
  backend/src/main/java/com/social/dailylink/model/User.java
  backend/src/main/java/com/social/dailylink/security/services/UserDetailsImpl.java
  frontend/src/app/pages/user/user-profile/user-profile.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
  frontend/src/app/services/post/post.service.ts
Labels: repo, frontend, backend

Fix roles not showing up as GrantedAuthorities Fix User Profile UI
  backend/src/main/java/com/social/dailylink/model/User.java
  backend/src/main/java/com/social/dailylink/security/services/UserDetailsImpl.java
  frontend/src/app/pages/user/user-profile/user-profile.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
  frontend/src/app/services/post/post.service.ts
Labels: repo, frontend, backend

Added data.sql file to initialize DB default data.
  backend/src/main/java/com/social/dailylink/AppStartupRunner.java
  backend/src/main/java/com/social/dailylink/security/services/UserDetailsServiceImpl.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
Labels: repo, backend

Prompt for changing profile pic on hover over the picture.
  frontend/src/app/app.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.css
  frontend/src/app/pages/user/user-profile/user-profile.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
Labels: repo, frontend

tried updating user profile (does not work yet!)
  backend/src/main/java/com/social/dailylink/controller/PostController.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/pages/user/user-profile/user-profile.component.html
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
  frontend/src/app/services/user/user.service.ts
Labels: repo, frontend, backend

Implement yup validation
  frontend/src/app/pages/user/user-profile/user-profile.component.ts
Labels: repo, frontend

Correct Authority names in the AuthTest class
  backend/src/test/java/com/social/dailylink/AuthTest.java
Labels: repo, backend

Correct Authority name in the TestController class
  backend/src/main/java/com/social/dailylink/controller/TestController.java
Labels: repo, backend

Readd PreAuthorize in the PostController class
  backend/src/main/java/com/social/dailylink/controller/PostController.java
Labels: repo, backend

Added pre authorize to user update endpoint.
  backend/src/main/java/com/social/dailylink/controller/PostController.java
Labels: repo, backend

Quick clean up
  backend/src/main/java/com/social/dailylink/controller/AuthController.java
  backend/src/main/java/com/social/dailylink/repository/PostRepository.java
  backend/src/main/java/com/social/dailylink/security/jwt/AuthTokenFilter.java
  backend/src/main/java/com/social/dailylink/security/services/UserDetailsServiceImpl.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/data.sql
  backend/src/main/resources/log4j2.xml
Labels: repo, backend

Updated .gitignore
  backend/.gitignore
Labels: repo, backend

removed package-lock.json
  .gitignore
  dailylink.iml
  frontend/frontend.iml
  frontend/package-lock.json
Labels: repo, frontend

on logout user is now navigated to login page
  frontend/src/app/services/auth/auth.service.ts
Labels: repo, frontend

Replace location.href with angular router Improve canActivate method in the auth-guard.service.ts so that the user can't navigate to a page if he isn't signed in
  frontend/src/app/services/auth-guard/auth-guard.service.ts
  frontend/src/app/services/auth/auth.service.ts
Labels: repo, frontend
